$fa-font-path: "fontawesome-pro-5.11.1-web/webfonts";

@import 'fontawesome-pro-5.11.1-web/scss/fontawesome';
@import 'fontawesome-pro-5.11.1-web/scss/brands';
@import 'fontawesome-pro-5.11.1-web/scss/solid';
@import 'fontawesome-pro-5.11.1-web/scss/light';
@import 'fontawesome-pro-5.11.1-web/scss/duotone';

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Then add additional custom code here
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body>navbar {
    position: relative;
    z-index: 999!important;
}
@media (min-width: 768px) {
    body>navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 999!important;
    }
}

navbar>nav.navbar {
    min-height: 47px;
}
@media (min-width: 768px) {
    .bd-layout {
        display:grid;
        gap: 0.5rem;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 5fr
    }
}
@media (min-width: 992px) {
    .bd-layout {
        grid-template-columns: 1fr 7fr
    }
}

.bd-sidebar {
    grid-area: sidebar
}

.bd-main {
    overflow-x: auto;
    //max-width: none;
    grid-area: main
}

.badge-nav {
    padding: 0.3em 0.45em!important;
    font-size: 0.65em!important;
    font-weight: 400!important;
}




.bd-links {
    overflow: auto;
    font-weight: 600
}

@media (min-width: 768px) {
    .bd-links {
        position:-webkit-sticky;
        position: sticky;
        top: 0;
        display: block !important;
        height: calc(100vh - 7rem);
        padding-left: .25rem;
        margin-left: -.25rem;
        overflow-y: auto
    }
}

@media (max-width: 768px) {
    .bd-links>ul {
        padding:1.5rem .75rem;
        background-color: #f8f9fa;
        border-bottom: 1px solid #e9ecef
    }
}

.bd-links a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    color: rgba(0,0,0,0.65);
    text-decoration: none
}

.bd-links a:hover,.bd-links a:focus {
    color: rgba(0,0,0,0.85);
    background-color: rgba(13,71,161,0.1)
}

.bd-links .btn {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0,0,0,0.65);
    background-color: transparent;
    border: 0
}

.bd-links .btn:hover,.bd-links .btn:focus {
    color: rgba(0,0,0,0.85);
    background-color: rgba(13,71,161,0.1)
}

.bd-links .btn:focus {
    box-shadow: 0 0 0 1px rgba(13,71,161,0.7)
}

.bd-links .btn::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: .5em 50%
}

@media (prefers-reduced-motion: reduce) {
    .bd-links .btn::before {
        transition: none
    }
}

.bd-links .btn[aria-expanded="true"] {
    color: rgba(0,0,0,0.85)
}

.bd-links .btn[aria-expanded="true"]::before {
    transform: rotate(90deg)
}

.bd-links .active {
    font-weight: 600;
    color: rgba(0,0,0,0.85)
}
